/Function_trials/build/
/Function_trials/dist/
/Gaddis_8thEd_Chap6_Prob1_Markup/build/
/Gaddis_8thEd_Chap6_Prob1_Markup/dist/
/Gaddis_8thEd_Chap6_Prob3_WinningDivision/build/
/Gaddis_8thEd_Chap6_Prob3_WinningDivision/dist/
/Gaddis_8thEd_Chap6_Prob4_SafeDrivArea/build/
/Gaddis_8thEd_Chap6_Prob4_SafeDrivArea/dist/
/Assignments/Assignment 5/Gaddis_8thEd_Chap6_Prob4_SafeDrivArea/build/
/Assignments/Assignment 5/Gaddis_8thEd_Chap6_Prob4_SafeDrivArea/dist/
/Gaddis_8thEd_Chap6_Prob5_FallingDistance/build/
/Gaddis_8thEd_Chap6_Prob5_FallingDistance/dist/
/Gaddis_8thEd_Chap6_Prob6_KineticEnergy/build/
/Gaddis_8thEd_Chap6_Prob6_KineticEnergy/dist/
/Gaddis_8thEd_Chap6_Prob7_CelsiusTempTable/build/
/Gaddis_8thEd_Chap6_Prob7_CelsiusTempTable/dist/
/Lab/Lab misc./Future_Value_Function/build/
/Lab/Lab misc./Future_Value_Function/dist/
/Lab/Lab misc./_Future_value/build/
/Lab/Lab misc./_Future_value/dist/
/Lab/Lab misc./Gaddis_8Ed_Chap6_Prob9_PresentValue/dist/
/Lab/Lab misc./Gaddis_8Ed_Chap6_Prob9_PresentValue/build/
/Assignments/Assignment 4/Assignment_5/build/
/Assignments/Assignment 4/Assignment_5/dist/
/Assignments/Assignment 5/Assignment_5/build/
/Assignments/Assignment 5/Assignment_5/dist/
/MidProb6_inclass/build/
/MidProb6_inclass/dist/
/MidtermFunctionsAndArrays/build/
/MidtermFunctionsAndArrays/dist/
/Midterm/Midterm Prob 6/build/
/Midterm/Midterm Prob 6/dist/
/Midterm/MidtermProb2FinalDraft/build/
/Midterm/MidtermProb2FinalDraft/dist/
/Midterm/Midterm_Prob1_/build/
/Midterm/Midterm_Prob1_/dist/
/Midterm/Midterm_Prob2_/build/
/Midterm/Midterm_Prob2_/dist/
/Midterm/Midterm_Prob2_VERSION2/build/
/Midterm/Midterm_Prob2_VERSION2/dist/
/Midterm/Midterm_Prob3_/build/
/Midterm/Midterm_Prob3_/dist/
/Midterm/Midterm_Prob4_/build/
/Midterm/Midterm_Prob4_/dist/
/Savitch_9thEd_Chap7_Prob13_GameOfLife/build/
/Savitch_9thEd_Chap7_Prob13_GameOfLife/dist/
/Gaddis_8thEd_Chap2_Prob13_CircuitBoardPrice/build/
/Gaddis_8thEd_Chap2_Prob13_CircuitBoardPrice/dist/
/Gaddis_8thEd_Chap2_Prob14_PersonalInformation/build/
/Gaddis_8thEd_Chap2_Prob14_PersonalInformation/dist/
/Gaddis_8thEd_Chap2_Prob15_TrianglePattern/build/
/Gaddis_8thEd_Chap2_Prob15_TrianglePattern/dist/
/Gaddis_8thEd_Chap2_Prob17_StockCommission/build/
/Gaddis_8thEd_Chap2_Prob17_StockCommission/dist/
/Gaddis_8thEd_Chap2_Prob11_DistPerTank/build/
/Gaddis_8thEd_Chap2_Prob11_DistPerTank/dist/
/Gaddis_8thEd_Chap2_Prob3_SalesTax/build/
/Gaddis_8thEd_Chap2_Prob3_SalesTax/dist/
/Gaddis_8thEd_Chap3_Prob3_TestAvg/build/
/Gaddis_8thEd_Chap3_Prob3_TestAvg/dist/
/Gaddis_8thEd_Chap3_Prob4_AvgRainfall/build/
/Gaddis_8thEd_Chap3_Prob4_AvgRainfall/dist/
/Gaddis_8thEd_Chap3_Prob8_HowManyWidgets/build/
/Gaddis_8thEd_Chap3_Prob8_HowManyWidgets/dist/
/Gaddis_8thEd_Chap3_Prob11_AutoCosts/build/
/Gaddis_8thEd_Chap3_Prob11_AutoCosts/dist/
/Gaddis_8thEd_Chap3_Prob15_PropertyTax/build/
/Gaddis_8thEd_Chap3_Prob15_PropertyTax/dist/
/Gaddis_8thEd_Chap3_Prob24_WordGame/build/
/Gaddis_8thEd_Chap3_Prob24_WordGame/dist/